body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('2722505_pixelheadache_animated-wallpaper.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;

}

form{
    color: #fff;
    height: 350px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    border: 2px solid black;
    
    border-radius: 15px;
    backdrop-filter: blur(15px);
}

.valor{
    opacity: 0;
}



div{
    color: #fff;
    height: 350px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    border: 2px solid black;
    
    border-radius: 15px;
    backdrop-filter: blur(15px);
}

select option ::after{
    
}