body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("dae36a74337de05e249ce5afcec907c1.gif");
    min-height: 100vh;

}

form{
    color: #fff;
    height: 350px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    border: 2px solid black;
    border-radius: 15px;
    backdrop-filter: blur(15px);
}

div{
    color: #fff;
    height: 350px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    border: 2px solid black;
    
    border-radius: 15px;
    backdrop-filter: blur(15px);
}